.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  background: rgba(106, 104, 104, 0.46);
  height: 72px;
}

.logo {
  width: 161px;
  height: 40px;
}

.list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: rgba(75, 85, 99, 0.46);
  font-weight: 600;
  font-size: 20px;
}

.btnBox {
  display: flex;
  align-items: center;
  gap: 16px;
}

.enterLink,
.freeTestLink {
  width: fit-content;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterLink {
  background-color: white;
  border: 1px solid blue;
  color: blue;
}

.freeTestLink {
  background-color: blue;
  color: white;
}
