.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500; /*має бути 500 але не застосовується */
  transition: color 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
  outline: none;
  border: none;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button svg {
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

/* Варіанти кольорів */
.default {
  background-color: #2463EB;
  color: var(--white);
}

.default:hover:not(:disabled) {
  background-color: #3670ED;
}

.destructive {
  background-color: var(--destructive, #ef4444);
  color: var(--white);
}

.destructive:hover:not(:disabled) {
  background-color: var(--destructive-hover, #dc2626);
}

.outline {
  border: 1px solid var(--input, #d1d5db);
  background-color: transparent;
  color: var(--text-headers);
}

.outline:hover:not(:disabled) {
  background-color: var(--accent, #f3f4f6);
  color: var(--text-headers);
}

.secondary {
  background-color: #F1F5F9;
  color: #0F1729;
}

.secondary:hover:not(:disabled) {
  background-color: #dcfce7;
}

.ghost {
  background-color: transparent;
  color: var(--text-headers);
}

.ghost:hover:not(:disabled) {
  background-color: var(--accent, #f3f4f6);
  color: var(--text-headers);
}

.link {
  color: var(--primary, #3b82f6);
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.link:hover:not(:disabled) {
  text-decoration-line: underline;
}

/* Розміри */
.sizeDefault {
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sizeSm {
  height: 2.25rem;
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.sizeLg {
  height: 2.75rem;
  border-radius: 0.375rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sizeIcon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
}
