.pageWrapper {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #eff6ff, #f3f4f6);
}

.headerWrapper {
  background-color: var(--white);
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.headerInner {
  width: 375px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

@media only screen and (min-width: 768px) {
  .headerInner {
    padding: 1.5rem 2rem;
    width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .headerInner {
    width: 1280px;
  }
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .backWrapper {
    gap: 1rem;
  }
}

.backButton {
  display: flex;
  align-items: center;
  transition: background-color 0.15s ease;
  border: none;
  outline: none;
  box-shadow: none;
}

.text {
  display: none;
}

.textTablet {
  display: none;
}

@media only screen and (min-width: 768px) {
  .textTablet {
    display: block;
    margin-left: 0.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .textTablet {
    display: none;
  }

  .text {
    display: block;
    margin-left: 0.5rem;
  }
}

.backIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.iconAndTitle {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.iconWrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
  .iconWrapper {
    display: block;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--light-blue-background);
    border-radius: 0.5rem;
  }
}

.moduleIcon {
  color: #2563eb;
  width: 100%;
  height: 100%;
}

.moduleTitle {
  color: var(--text-headers);
  font-size: 1.75rem;
  font-weight: 700;
  font-size: 1.575rem;
  line-height: 2.25rem;
}

@media only screen and (min-width: 768px) {
  .moduleTitle {
    font-size: 1.875rem;
  }
}

.moduleDescription {
  display: none;
}

@media only screen and (min-width: 768px) {
  .moduleDescription {
    display: block;
    font-size: 1rem;
    color: #6b7280;
    margin: 0.25rem 0 0;
  }
}

.demoButton {
  background-color: #2563eb;
  color: var(--white);
  padding: 0.5rem 0.5rem;
  border-radius: 0.375rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
  outline: none;
  border: none;
}

@media only screen and (min-width: 768px) {
  .demoButton {
    padding: 0.5rem 1rem;
  }
}

.demoButton:hover {
  background-color: #1d4ed8;
}

.moduleContent {
  max-width: 375px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media only screen and (min-width: 768px) {
  .moduleContent {
    max-width: 768px;
    padding: 3rem 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .moduleContent {
    max-width: 1280px;
    padding: 3rem 2rem;
  }
}

.heroSection {
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .heroSection {
    padding: 2rem;
    margin-bottom: 3rem;
  }
}

.heroGrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media only screen and (min-width: 1280px) {
  .heroGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.roleWrapper {
  margin-bottom: 1rem;
}

.roleBadge {
  padding: 0.125rem 0.625rem;
  border: 1px solid #ffffff4d;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--white);
  background-color: #ffffff1a;
}

.subtitle {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.businessValue {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  color: #ffffffe6;
}

.tryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  width: fit-content;
  background-color: var(--secondary);
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--secondary-foreground);

}

.heroImageWrapper {
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: #ffffff1a;
}

.heroImage {
  height: auto;
  width: 100%;
  /* border-radius: 0.5rem; */
  object-fit: contain;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (min-width: 1280px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.cardContent {
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .cardContent {
    padding: 2rem;
  }
}

.cardTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-headers);
}

.featureList,
.benefitList,
.resultList,
.integrationList {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media only screen and (min-width: minwidthpx) {

  .featureList,
  .benefitList,
  .resultList,
  .integrationList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.featureItem,
.benefitItem,
.resultItem,
.integrationItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0rem;
}

@media only screen and (min-width: 768px) {

  .featureItem,
  .benefitItem,
  .resultItem,
  .integrationItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
  }
}

.integrationItem {
  background-color: #eff6ff;
}

.resultItem {
  border-radius: 0.5rem;
  border: 1px solid #dce7f3;
}

.featureItem {
  background-color: #f9fafb;
  border-radius: 0.5rem;
}

.benefitItem {
  background-color: #f0fdf4;
  border-radius: 0.5rem;
}

.featureText,
.benefitText,
.resultText,
.integrationText {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #374151;
}

.benefitDot,
.integrationDot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #22c55e;
  border-radius: 50%;
  flex-shrink: 0;
}

.integrationDot {
  background-color: #3b82f6;
}

.resultGrid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .resultGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.problemTitle,
.solutionTitle {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #dc2626;
}

.solutionTitle {
  color: #16a34a;
}

.cardMargin {
  margin-top: 2rem;
}

.ctaSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .ctaSection {
    margin-top: 3rem;
    padding: 2rem;
  }
}


.ctaTitle {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-headers);
}

.ctaSubtitle {
  max-width: 42rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
  color: #4b5563;
}

.ctaButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .ctaButtons {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}

.orderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  background-color: #2563eb;
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.orderButton:hover {
  background-color: #1d4ed8;
}

.otherModulesButton {
  font-size: 1.125rem;
  line-height: 1.75rem;

  border: 1px solid #d1d5db;
  color: #020817;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.otherModulesButton:hover {
  background-color: #2563eb;
  color: white;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right,
      #eff6ff 0%,
      rgba(239, 246, 255, 0) 100%);
}

.notFoundText {
  align-self: center;
}

.notFoundTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  color: var(--text-headers);
}

.backWrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: none;
  outline: none;
  background: transparent !important;
}