.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (min-width: 768px) {
  .list {
    gap: 3rem;
  }
}

@media only screen and (min-width: 1280px) {
  .list {
    gap: 4rem;
  }
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  /* justify-content: center; */
}

@media only screen and (min-width: 1280px) {
  .item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    /* justify-content: space-between; */
  }

  .item:nth-child(2) {
    flex-direction: row-reverse;
  }
}

.textPart {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .textPart {
    width: 768px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media only screen and (min-width: 1280px) {
  .textPart {
    width: 584px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}

.topPart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconBox {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  background-color: #2463eb;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .iconBox {
    width: 4rem;
    height: 4rem;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  stroke: white;
}

.highlight {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--dark-green-text);

  padding: 0.25rem 0.75rem;
  background-color: var(--light-green-icon);
  border-radius: 9999px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stats {
  color: var(--primary);
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.title {
  color: var(--text-headers);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
}

.description {
  color: var(--text-gray);
  font-size: 1.125rem;
  line-height: 1.625;
  text-align: center;
}

@media only screen and (min-width: 1280px) {
  .title {
    text-align: left;
  }

  .description {
    text-align: left;
  }
}

.imagePart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgBox {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border: 1px solid #e1e7ef;
  padding: 1rem;
  transition: scale 0.5s ease-in-out;
  width: 328px;
}

@media only screen and (min-width: 768px) {
  .imgBox {
    width: 705px;
  }
}

@media only screen and (min-width: 1280px) {
  .imagePart {
    width: 576px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgBox {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border: 1px solid #e1e7ef;
    padding: 1rem;
    transition: scale 0.5s ease-in-out;
    width: 584px;
  }
}

.imgBox:hover {
  scale: 1.1;
}

.relative {
  position: relative;
}

.img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  transition: filter 0.5s ease-in-out;
}

.imgBox:hover .img {
  filter: blur(2px);
}

.imgTopCaption {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  border-radius: 0.25rem;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  background-color: #3b82f6;
  z-index: 9;
  color: white;
}

.imgTopCaptionPurple {
  background-color: #a855f7;
}

.imgBottomCaption {
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;

  padding: 0.25rem 0.5rem;

  background-color: #22c55e;

  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  border-radius: 0.25rem;
  z-index: 999;
}

.bottomCaption {
  color: var(--text-blue);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;

  padding: 0.25rem 0.75rem;

  background-color: var(--light-blue-background);
  border-radius: 9999px;

  width: fit-content;

  margin-top: 1rem;
}

.zoom {
  width: 2rem;
  height: 2rem;
  stroke: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.imgBox:hover .zoom {
  opacity: 1;
}