.section {
  background: linear-gradient(to bottom, #eff6ff, var(--white));
}

.sectionWrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

.headerWrapper {
  text-align: center;
  margin-bottom: 4rem;
}

.header {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: var(--text-headers);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 767.98px) {
  .header {
    font-size: 3rem;
    line-height: 1;
  }
}

.headerText {
  color: var(--text-gray);
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.cardsWrapper {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 767.98px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}

@media screen and (min-width: 1279.98px) {
  .cardsWrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.cardWrapper {
  position: relative;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  background-color: var(--white);
  border-radius: 1.5rem;
  overflow: hidden;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.cardWrapper:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transform: translateY(-0.25rem);
}

.borderGreen {
  border: 2px solid var(--dark-green-icon);
}

.borderBlue {
  border: 2px solid var(--text-blue);
}

.borderPurple {
  border: 2px solid var(--purple-text);
}

.borderGray {
  border: 2px solid var(--text-gray);
}

.popular {
  position: absolute;
  top: 0;
  right: 1.5rem;
  color: var(--white);
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background: linear-gradient(to right, #2563eb, #9333ea);
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.star {
  width: 0.75rem;
  height: 0.75rem;
}

.bgGreen {
  background-color: var(--light-green-background);
}

.bgBlue {
  background-color: rgb(239 246 255);
}

.bgPurple {
  background-color: rgb(250 245 255);
}

.bgGray {
  background-color: rgb(249 250 251);
}

.cardContentWrapper {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1279.98px) {
  .cardContentWrapper {
    height: 214px;
  }
}

.textGreen {
  color: var(--dark-green-text);
}

.textBlue {
  color: var(--text-blue);
}

.textPurple {
  color: var(--purple-text);
}

.textGray {
  color: var(--text-gray);
}

.cardHeader {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.25rem;
}

.cardFirstText {
  color: var(--text-gray);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}

.cardSecondText {
  color: rgb(107 114 128);
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.75rem;
}

.price {
  margin-bottom: 0.5rem;
  color: var(--text-headers);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.currency {
  color: var(--text-gray);
  font-size: 1rem;
  line-height: 1.5rem;
}

.cardThirdText {
  color: rgb(55 65 81);
  line-height: 1.25;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.italicText {
  font-style: italic;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(37 99 235);
}

.btnGreen {
  background-color: var(--dark-green-icon);
}

.btnBlue {
  background-color: var(--text-blue);
}

.btnPurple {
  background-color: var(--purple-text);
}

.btnGray {
  background-color: var(--text-gray);
}

.cardBtn {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: var(--white);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 40px;
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1279.98px) {
  .cardBtn {
    height: 64px;
  }
}

.cardBtn:hover {
  transform: scaleX(1.05) scaleY(1.05);
}

.tariffsCompoundWrapper {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  max-width: 64rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.tariffsCompoundHeader {
  color: var(--text-headers);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.tariffsCompoundList {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 767.98px) {
  .tariffsCompoundList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.feature {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.whyPostsSection {
  padding: 2rem;
  background: linear-gradient(to right, #eff6ff, #faf5ff);
  border: 2px solid var(--border-blue);
  border-radius: 1.5rem;
  max-width: 56rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.whyPostsTextWrapper {
  color: rgb(55 65 81);
  line-height: 1.625;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textCenterBold {
  text-align: center;
  font-weight: 700;
}

.textCenter {
  text-align: center;
}

.whyPostsBottomText {
  font-weight: 600;
  color: rgb(29 78 216);
}

.noHiddenFeesSection {
  padding: 2rem;
  background: linear-gradient(to right, #f0fdf4, #eff6ff);
  border: 2px solid var(--light-green-border);
  border-radius: 1.5rem;
  max-width: 56rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.noHiddenFeesSectionTextWrapper {
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 767.98px) {
  .noHiddenFeesSectionTextWrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.noHiddenFeesSectionLeftTextWrapper {
  text-align: center;
}

.cross {
  color: rgb(220 38 38);
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}

.noHiddenFeesSectionText {
  color: var(--border-dark-gray);
  font-weight: 600;
}

.check {
  color: var(--dark-green-icon);
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}

.readyToStartSection {
  color: var(--white);
  text-align: center;
  padding: 2rem;
  background: linear-gradient(to right, #22c55e, #2563eb);
  border-radius: 1.5rem;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
}

.readyToStartSectionHeader {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

.readyToStartSectionFirstString {
  line-height: 1.625;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.readyToStartSectionSecondString {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.readyToStartSectionBtn {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  color: var(--dark-green-icon);
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border-radius: 1rem;
  white-space: nowrap;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.75rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 767.98px) {
  .readyToStartSectionBtn {
    font-size: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.readyToStartSectionBtn:hover {
  box-shadow: rgb(255 255 255 / 0.3);
  transform: translateY(-0.25rem) scaleX(1.05) scaleY(1.05);
  background-color: var(--card-border);
}

.arrow {
  width: 1rem;
  height: 1rem;
}
