:root {
  --white: #ffffff; /* rgb(255 255 255) */
  --foreground: #0b0e1a; /* rgb(11 14 26) */
  --muted: #f6f9fb; /* rgb(246 249 251) */
  --muted-foreground: #6c7890; /* rgb(108 120 144) */
  --popover: #ffffff; /* rgb(255 255 255) */
  --popover-foreground: #0b0e1a; /* rgb(11 14 26) */
  --card: #ffffff; /* rgb(255 255 255) */
  --card-foreground: #0b0e1a; /* rgb(11 14 26) */
  --border: #dce3ea; /* rgb(220 227 234) */
  --input: #dce3ea; /* rgb(220 227 234) */
  --primary: #3e63dd; /* rgb(62 99 221) */
  --primary-foreground: #f6f9fb; /* rgb(246 249 251) */
  --secondary: #f4f7f9; /* rgb(244 247 249) */
  --secondary-foreground: #1e1f27; /* rgb(30 31 39) */
  --accent: #f4f7f9; /* rgb(244 247 249) */
  --accent-foreground: #1e1f27; /* rgb(30 31 39) */
  --destructive: #ef4444; /* rgb(239 68 68) */
  --destructive-foreground: #f6f9fb; /* rgb(246 249 251) */
  --ring: #3e63dd; /* rgb(62 99 221) */
  --text-headers: #111827; /* rgb(17 24 39) */
  --text-gray: #4b5563; /* rgb(75 85 99) */
  --card-border: #f3f4f6; /* rgb(243 244 246) */
  --light-green-icon: #dcfce7; /* rgb(220 252 231) */
  --dark-green-icon: #16a34a; /* rgb(22 163 74) */
  --light-blue-background: #dbeafe  ; /* rgb(219 234 254) */
  --text-blue: #1e40af;  /*rgba(30 64 175)*/
  --light-green-border: #bbf7d0; /*187 247 208*/
  --light-green-background: #f0fdf4  ; /*240 253 244*/
  --dark-green-text: #166534; /*22 101 52*/
  --orange-background: #ffedd5  ; /*255 237 213*/
  --dark-orange-text: #9a3412  ; /*154 52 18*/ 
  --purple-text: #6b21a8; /*107 33 168*/
  --light-purple-background: #f3e8ff; /*243 232 255*/
  --border-red: #fecaca; /* rgb(254 202 202) */
  --border-orange: #fed7aa;  /*254 215 170*/
  --border-purple: #e9d5ff  ; /* rgb(233 213 255)*/
  --border-blue: #bfdbfe; /* rgb(191 219 254) */
  --border-indigo: #c7d2fe; /* rgb(199 210 254) */
  --border-dark-red: #fca5a5; /* rgb(252 165 165) */ 
  --border-dark-gray: #1f2937; /* rgb(31 41 55) */
  --red-background: #fef2f2; /* rgb(254 242 242) */
  --red-text: #b91c1c; /* rgb(185 28 28) */
  --yellow: #facc15; /* rgb(250 204 21) */
  
  
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('/src/assets/fonts/Inter-Italic.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('/src/assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--foreground);
  background-color: var(--white);
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

section {
  width: 1280px; 
  padding: 60px 0;
  margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  box-shadow: none;
}
